body {
    box-sizing: border-box;
    background-image: url(/images/background_forest.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: column;
    width: 100%;
    height: 100vh;
}
/* Is this okay or should i have a container to put the body things in? */
.form {
    background-color: #ffce03;
    text-align: center;
    width: 380px;
    border-style: outset;
    border-color: #c78023;
    border-width: 5px;
    border-radius: 5px;
    padding: 20px;
}
.form button {
    background-color: #fd9a01;
    border-color: #c78023;
    font-size: large;
    font-family: 'Bungee Spice', cursive;
    width: 140px;
    height: 30px;
    margin-top: 10px;
    margin-right: 6px;
    margin-left: 4px;
    border-radius: 5px;
}
.form button:hover {
    background-color: #ffce03;
}
.textstylish {
    font-family: 'Bungee Spice', cursive;
}
.boxstyle {
    background-color: #fd9a01;
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    font-size: large;
    color: #2a7e19;
    width: 350px;
    height: 22px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
    border-style: outset;
    border-color: #c78023;
    border-width: 2px;
}
.boxstyle:hover {
    background-color: #ffce03;
}
.boxstyle:focus {
    background-color: #ffce03;
    color: #2a7e19;
    outline-color: #fd9a01;
    outline-style: solid;
}
.pimpmy--list {
    margin-bottom: 10px;
}
::placeholder {
    color: #c35817;
}
textarea {
    resize: none;
}
.list {
    color: #2a7e19;
    text-align: center;
    width: 92px;
    height: 30px;
    padding: 1px;
    cursor: pointer;
}
.list::placeholder {
    color: #c35817;
}

